<div id="mainGrid" (click)="disableContextMenu()">
  <div id="editorPart">
    <div id="inputsRow" class="rowOfElements">
      <span>Rows:</span>
      <input class="inputsRowInput" [(ngModel)]="rowsValue" (ngModelChange)="updateTableFun()">
      <span>Columns:</span>
      <input class="inputsRowInput" [(ngModel)]="colsValue" (ngModelChange)="updateTableFun()">
    </div>
    <div id="tableBlock">
      <div class="tableHeader rowOfElements" [ngStyle]="{'width.px': colsValue * 50}">
        <span class="headerSpan flexElement" *ngFor="let rowItem of tableItems, let colIndex = index">{{stringInstance.fromCharCode(97 + colIndex)}}</span>
      </div>
      <div class="tableRow rowOfElements"
           [ngStyle]="{'width.px': (rowsValue * 50) + 10}"
           *ngFor="let rowItem of tableItems, let rowIndex = index"
      >
        <span class="tableSpan flexElement">{{rowIndex + 1}}</span>
        <div class="tableCell flexElement"
             *ngFor="let cellItem of rowItem, let colIndex = index"
             [ngClass]="{ impassableCell: cellItem.itemType === itemTypeEI.impassable }"
             (contextmenu)="open($event, rowIndex, colIndex)"
             (dblclick)="onTableCellDoubleClick(cellItem.itemType, rowIndex, colIndex)"
        >
          <span *ngIf="cellItem.itemType !== itemTypeEI.creature, else creatureCell">
            {{cellItem.itemText}}
          </span>
          <ng-template #creatureCell>
            <div class="creatureCellCircle flexElement">
              <span>
                {{cellItem.itemText}}
              </span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div id="infoPart"></div>
</div>

<div *ngIf="isContextMenuVisible"
     class="contextMenu"
     [ngStyle]="{'left.px': contextMenuX, 'top.px': contextMenuY, 'height.px': colsValue * 50}"
>
  <div class="contextMenuItem flexElement "
       *ngFor="let cmItem of contextItems, let cmIndex = index"
       [ngClass]="{ contextMenuDisabledItem: cmIndex === 4 && selectedForCutRow === -1 }"
       (click)="onContextMenuClick(cmIndex)"
  >
    {{cmItem}}
  </div>
</div>
