#mainGrid
{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 75% 25%;
}

#editorPart
{
  width: 100%;
  height: 100%;
}

#inputsRow
{
  width: 100%;
  height: 60px;
  border-bottom: 10px solid black;
  margin-bottom: 10px;
}

.inputsRowInput
{
  width: 100px;
  margin: 0 20px 0 10px;
}

.tableHeader
{
  margin-left: 10px;
  height: 20px;
}

.headerSpan
{
  width: 50px;
  height: 100%;
}

.tableRow
{
  width: 100%;
  height: 50px;
}

.tableSpan
{
  width: 10px;
  height: 50px;
}

.tableCell
{
  width: 50px;
  height: 100%;
  border: 1px solid gray;
}

.impassableCell
{
  background-color: red;
}

.creatureCellCircle
{
  width: 95%;
  height: 95%;
  border: 1px solid black;
  border-radius: 50%;
}

#infoPart
{
  width: 100%;
  height: 100%;
}

.contextMenu
{
  width: 150px;
  background-color: lightgray;
  position: absolute;
}

.contextMenuItem
{
  height: 50px;
  border-bottom: 1px solid gray;
}

.contextMenuDisabledItem
{
  background-color: darkgray;
}
