/* You can add global styles to this file, and also import other style files */
*
{
  box-sizing: border-box;
}

html
{
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body
{
  width: 100%;
  height: 100%;
  margin: 0;
}

app-root
{
  display: block;
  width: 100%;
  height: 100%;
}

.rowOfElements, .columnOfElements, .flexElement
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.columnOfElements
{
  flex-direction: column;
}
